<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nchu.software.mapper.LevelMapper">

    <resultMap id="BaseResultMap" type="com.nchu.software.domain.Level">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="difficulty" column="difficulty" jdbcType="INTEGER"/>
            <result property="pre_level" column="pre_level" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,
        difficulty,pre_level
    </sql>
</mapper>
